.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

#trybewarts-header-title {
  align-self: center;
}

.trybewarts-header-logo {
  max-height: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.main , #evaluation-form {
  display: flex;
}

main {
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#evaluation-form .row {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  max-width: 1200px;
  margin: auto;
}
